@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&family=Madimi+One&display=swap');
:root{
    --main-color:linear-gradient(180deg, rgb(70, 8, 255) 27%, rgba(255,8,8,1) 90%, rgba(255,8,8,1) 100%);
}
body{
    margin: 0;
    font-family: "Madimi One", sans-serif;
    background: rgb(222,247,247);

}
.header{
    color: white;
    background: rgb(255,132,8);
    background: linear-gradient(180deg, rgb(78, 8, 255) 27%, rgba(255,8,8,1) 90%, rgba(255,8,8,1) 100%);
    background-image: url('../Assets/360_F_484111532_W0WOkKeXQzF75XusA7R8e3llIDXqyCFm.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.logo-text{
    color: white;
    font-weight:bolder;
}
div.nav-option{
    text-align: center;
    color: white;
}
.nav-option>a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-option{
    margin-left: 5%;
    height: 50%;
    align-content: center;
    position: relative;
    top:50%;
    transform: translate(0%,-25%);
    text-decoration: none;
    
}
.header{

    position: fixed;
    top:0;
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.092);
    font-size: 2vh;
    z-index: 3;
}
.header>h2{
    background-image: url('../Assets/101683800-circuit-board-on-white-background-high-tech-technology-background-texture-pattern-abstract.jpg');
    
    color: black;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.header>h2>i{
    backdrop-filter: blur(5px);
    font-family: "Jacquarda Bastarda 9", serif;
}
.logo{
    height: 70%;
    position: relative;
    left: 0;
}
div#logo{
    align-content: center;
    display: flex;
    flex-direction: column;
    width: 5%;
    margin: 10px;
}
.logo-text{

    font-size: 50%;
}
.nav-bar{
    display: flex;
    position: fixed;
    top: 0;
    height: 10%;
    right: 10px;
    flex-direction: row;
    width: 20%;
}    
.nav-option>a:hover{
    color:rgb(160, 4, 4);
}