.footer{
    width: 100%;
    height: 5vh;
    position: fixed;
    bottom: 0px;
}
#carousel{
    position: relative;
    top: 8vh;
    height: 87vh;
    overflow: hidden;
}
#carousel img{
    height: 87vh;
    object-fit: cover;
    object-position: top;
}