body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(222,247,247);

}
.header{
    background: rgb(255,132,8);
    background: linear-gradient(180deg, rgba(255,132,8,1) 27%, rgba(255,8,8,1) 90%, rgba(255,8,8,1) 100%);
    position: fixed;
    top:0;
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.092);
    font-size: 2vh;
}
.logo{
    height: 70%;
    position: relative;
    left: 0;
}
div#logo{
    align-content: center;
    display: flex;
    flex-direction: column;
    width: 5%;
    margin: 10px;
}
.logo-text{
    color: white;
    font-weight:bolder;
    font-size: 50%;
}
.nav-bar{
    display: flex;
    position: fixed;
    top: 0;
    height: 10%;
    right: 10px;
    flex-direction: row;
    width: 20%;
}
div.nav-option{
    text-align: center;
    margin-left: 5%;
    height: 50%;
    align-content: center;
    position: relative;
    top:50%;
    transform: translate(0%,-25%);
    text-decoration: none;
    color: white;
}
.nav-option>a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-option>a:hover{
    color:rgb(160, 4, 4);
}
.nav-bar{
    right: 10%;
}
.smartphone{
    margin: 10px;
    padding: 10px;
    border: 1%;
    border-style: dashed;
    border-color: rgba(255, 0, 0, 0.303);
    border-radius: 10px;
}
.smartphone>h1{
    text-align: center;
}
.smartphone>.wrapper{
    display: grid;
    grid-template-columns: 50% 50%;
}
.wrapper>div>img{
    width: 90%;
}
.description{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.title{
    background: linear-gradient(180deg, rgba(255,132,8,1) 27%, rgba(255,8,8,1) 90%, rgba(255,8,8,1) 100%);
    padding: 1px 10px 1px;
    color:white
}
.username{
    font-weight: bold;
    text-align: end;
}
.shopping-car{
    background: radial-gradient(circle, rgb(255, 0, 0) 20%, rgba(251,119,119,1) 100%);
    position: fixed;
    right: 0px;
    width: 5%;
    height: inherit;  
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px 0;
    box-shadow: -3px 0 0 0 #69001F;
}
.shopping-car>a{
    color:white;
    text-decoration: none;
    font-size: 1vw;
    font-weight: bold;;
}
.shopping-car>svg{
    height: 80%;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(211deg) brightness(104%) contrast(102%);
}